*{ 
  margin: 0px;
  padding: 0px;
}

@font-face {
  font-family: Quacker;
  src: url(../fonts/Quacker.ttf);
}

/* -=-=-=-=-=-=-= mobile site -=-=-=-=-=-=-= */

/* rgb(224,152,189)  pink */ 
/* rgb(251,67,55)   red  */
/* rgb(254,249,103)  yellow */
/* rgb(24,101,181)  blue */
/* rgb(113,204,195)  teal */

body{
  /*background-image: url(../img/backgrounds/90s-pattern-1.jpg); /*The image used */
  opacity: 1;        /*varies from 0-1*/
  background-position: top left; /* Center the image */
  background-repeat: repeat; /* repeat the image */
}

h1, h2, h3, h4, ul, li, p{

  background-color: transparent;
  font-family: 'Roboto' ;
  min-width: fit-content;
}

li{
  text-align: center;
}

article {
  width: auto;

  margin-left: auto;
  margin-right: auto;
 
  line-height: 1.7;
  font-size: 20px;
}

p{   
  padding-top: 16px;
  padding-left: 16px;
  padding-right: 16px;
  
  min-width: fit-content;

  color:black;

  line-height: 1.7;
  font-size: small;
}

#description-title /* # equals an ID*/ {
  
  font-size: 3vh;

  padding-top: 10px;
  padding-bottom: 10px;
  padding-left: 20px;
}

#description-sub-title /* # equals an ID*/ {
    
  margin: auto;
  min-width: fit-content;

  font-size: 3vh;

  padding-top: 0px;
  padding-bottom: 10px;
  padding-left: 20px;
}

.banner-title{

  color: white;
  
  font-family: Roboto;
  /* font-family: 'Lobster', cursive; */
  font-size: 3em;
  text-align: center;

  padding: 30px;
}

.logos{
  float: center;
}

.title-spacing{

  width: auto;
  min-width: fit-content;

  margin-left: auto;
  margin-right: auto;

  text-align: left;

  padding-top: 10px;
  padding-left: 32px;
  padding-right: 10px;
  padding-bottom: 0px;
}

.list-spacing{

min-width: fit-content;

padding-top: 15px;
padding-left: 32px;
padding-right: 32px;
padding-bottom: 0px;

font-size: medium;    
line-height: 1.7;
}

.style {
  /* background: linear-gradient(90deg, #4b6cb7 0%, #182848 100%); */
  background-color: rgb(251,67,55);
  border: 3px solid black;
 
  display: inline-block;
  
  width: 20%;
  min-width: fit-content;

  padding: 16px;

  margin-top: 1.5%;
  margin-bottom: 3%;
  margin-left: 3.5%;
   
  text-align: center;
  text-decoration: none;
  cursor: pointer;

  color: white;
  font-size: 16px;
}

.style:hover {
  background-color: rgb(254,249,103) ; 
  color: white;
}

.style2 {
  background-color: rgb(24,101,181);
  display: inline-block;
  width: 24%;

  padding: 50px 1px;
  margin: 10px;
  color: white;
  font-size: 30px
  
}

.style2:hover {
  background-color: rgb(177, 55, 25); 
  color: white;
}

.container {
  position: relative;
}

/* rgb(224,152,189)  pink */ 
/* rgb(251,67,55)   red  */
/* rgb(254,249,103)  yellow */
/* rgb(24,101,181)  blue */
/* rgb(113,204,195)  teal */

/* grid layout and background colors*/

.home { grid-area: home; background: url('../img/backgrounds/90s-pattern-1.jpg') ;}
.about-me { grid-area: about-me; background: rgb(247, 247, 247); }
.nav { grid-area: nav; background: rgb(24,101,181);}
.education1 { grid-area: education1; background: rgb(17, 142, 180); }
.education2 { grid-area: education2; background: url('../img/backgrounds/90s-pattern-3.jpg');}
.certifications1 { grid-area: certifications1; background: rgb(24,101,181); }
.certifications2 { grid-area: certifications2; background: rgb(224,152,189); }
.soft-skills1 { grid-area: soft-skills1; background: rgb(254,249,103);}
.soft-skills2 { grid-area: soft-skills2; background: url('../img/backgrounds/90s-pattern-1.jpg');}
.technical-skills1 { grid-area: technical-skills1; background: rgb(113,204,195);}
.technical-skills2 { grid-area: technical-skills2; background: rgb(113,204,195);}
.title1 { grid-area: title1; background: rgb(224,152,189);}
.title2 { grid-area: title2; background: rgb(251,67,55); }
.title3 { grid-area: title3; background: rgb(113,204,195);}
.title4 { grid-area: title4; background: rgb(24,101,181) ;}
.title5 { grid-area: title5; background: rgb(251,67,55);}
.title6 { grid-area: title6; background: rgb(224,152,189);}
.job1 { grid-area: job1; background: rgb(224,152,189);}
.job2 { grid-area: job2; background: rgb(24,101,181);}
.job3 { grid-area: job3; background: rgb(254,249,103);}
.job4 { grid-area: job4; background: rgb(113,204,195);}
.volunteer1 { grid-area: volunteer1; background: rgb(24,101,181); }
.volunteer2 { grid-area: volunteer2; background: rgb(251,67,55);}
.footer { grid-area: footer; background: rgb(254,249,103);}


#profile-picture /* # equals an ID*/ {

  display: flex;
  align-items: center;
  justify-content: center;
  
  margin-left: 10%;
  margin-top: 10%;
  margin-bottom: 50%;
  
  width: 40%;
  border: 6px solid black;
  }

/* -=-=-=-=-=-=-= tablet site -=-=-=-=-=-=-= */

@media screen and ( min-width: 500px ) {

body {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr; /* factions instead of %*/ 

  grid-template-areas:

  "home home about-me about-me" /* Row one: hero spans two columns. */
  "nav nav nav nav" /* Row two: each is one cell. */
  "title1 title1 title1 title1" /* Row 3: each is one cell. */
  "education1 education1 education1 education2" /* Row 4: each is one cell. */
  "title2 title2 title2 title2"
  "certifications1 certifications1 certifications2 certifications2" /* Row 4: each is one cell. */
  "title3 title3 title3 title3" /* Row 5: each is one cell. */
  "soft-skills1 soft-skills1 soft-skills2 soft-skills2" /* Row 6: third-service spans two columns.  */
  "title4 title4 title4 title4" /* Row 5: each is one cell. */
  "technical-skills1 technical-skills1 technical-skills2 technical-skills2" /* Row 6: third-service spans two columns.  */
  "title5 title5 title5 title5" /* Row 7: each is one cell. */
  "job1 job1 job2 job2" /* Row 8: third-service spans two columns.  */
  "job3 job3 job4 job4" /* Row 9: third-service spans two columns.  */
  "title6 title6 title6 title6" /* Row 10: each is one cell. */
  "volunteer1 volunteer1 volunteer2 volunteer2" /* Row 11: each is one cell. */
  "footer footer footer footer" /* row 12 */
  }

#profile-picture /* # equals an ID*/ {

  display: flex;
  align-items: center;
  justify-content: center;

  margin-left: 25%;
  margin-top: 30%;
  margin-bottom: 30%;

  width: 55%;

  border: 6px solid black;
  }

  #description-title /* # equals an ID*/ {

  font-size: xx-large;

  padding-top: 10%;
  padding-bottom: 1%;
  padding-left: 3.5%;
  }

  #description-sub-title /* # equals an ID*/ {
  
  font-size: xx-large;
  
  padding-top: 0%;
  padding-bottom: 1%;
  padding-left: 3.5%;
  }

}



/* -=-=-=-=-=-=-= Desktop size -=-=-=-=-=-=-= */

@media screen and ( min-width: 1024px ) {

  body{
      display: grid;
      grid-template-columns: 1fr 1fr 1fr 1fr;

      grid-template-areas:
  
      "home home about-me about-me" /* Row one: hero spans two columns. */
      "nav nav nav nav" /* Row two: each is one cell. */
      "title1 title1 title1 title1" /* Row 3: each is one cell. */
      "education1 education1 education1 education2" /* Row 4: each is one cell. */
      "title2 title2 title2 title2"
      "certifications1 certifications1 certifications2 certifications2" /* Row 4: each is one cell. */
      "title3 title3 title3 title3" /* Row 5: each is one cell. */
      "soft-skills1 soft-skills1 soft-skills2 soft-skills2" /* Row 6: third-service spans two columns.  */
      "title4 title4 title4 title4" /* Row 5: each is one cell. */
      "technical-skills1 technical-skills1 technical-skills2 technical-skills2" /* Row 6: third-service spans two columns.  */
      "title5 title5 title5 title5" /* Row 7: each is one cell. */
      "job1 job1 job2 job2" /* Row 8: third-service spans two columns.  */
      "job3 job3 job4 job4" /* Row 9: third-service spans two columns.  */
      "title6 title6 title6 title6" /* Row 10: each is one cell. */
      "volunteer1 volunteer1 volunteer2 volunteer2" /* Row 11: each is one cell. */
      "footer footer footer footer" /* row 12 */
  }
  
  #profile-picture /* # equals an ID*/ {

  display: flex;
  align-items: center;
  justify-content: center;

  margin-left: 23%;
  margin-top: 10%;
  margin-bottom: 10%;

  width: 57%;

  border: 6px solid black;
      }
  #description-title /* # equals an ID*/ {

  font-size: xx-large;

  padding-top: 15%;
  padding-bottom: 1%;
  padding-left: 3.5%;
  }

  #description-sub-title /* # equals an ID*/ {
      
  font-size: xx-large;
  
  padding-top: 0%;
  padding-bottom: 0.5%;
  padding-left: 3.5%;
  }

}

