/*social media links*/

#social-media-links {
list-style: none;
text-align: center;

margin-top: 10px;
margin-bottom: 10px;

}
  
#social-media-links li{ /* Direct child selector ">" 
    The LI must be directly inside the element with the "social-media-links" id in this case.*/
    display: inline;

    list-style: none;
    text-align: center;

    margin: 15px;

    opacity: 1
}

#social-media-links .fab{     
    
    /* RGBA - the a stands for ALPHA channel=selector with nesting.*/
    /* for alpha: 1 = opaque; 0 = transparent. You can use values inbetween like "0.5" to mark it as semi-transparent. */
    color:black;
    font-size: 60px;
}

#social-media-links a:hover .fab,
#social-media-links a:focus .fab,
#social-media-links a:active .fab{     /* Psuedo=selector with nesting.*/
    color:rgba(250,66,54, 0.85);
    font-size: 60px;
}